:host {
  --color-red: #d32323;
  --color-blue: #004adc;
  --color-black: #222330;
  --color-black-80: rgba(0, 0, 0, 0.8);
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-05: rgba(0, 0, 0, 0.05);
  --color-spinner: rgba(0, 0, 0, 0.4);
  --color-grey-light: #CCC;
  --color-white: #FFF;
  --align-buttons: left;
  --height-ratio: 50%;
  font-family: var(--font-family, sans-serif);
  --button-padding: 5px;
}

img {
  display: block;
  height: auto !important;
}

* {
  max-width: 100%;
}

.hidden {
  display: none;
}

.ck-media {
  width: 100%;
  border: 1px solid var(--color-black-10);
  position: relative;
}

.ck-media__placeholder {
  width: 100%;
  padding-bottom: var(--height-ratio);
  background: repeating-linear-gradient(
  45deg,
  var(--color-white),
  var(--color-white) 30px,
  var(--color-grey-light) 30px,
  var(--color-grey-light) 60px
  );
}

.ck-media.error {
  border: 1px solid var(--color-red);
}

.ck-media.error .ck-media__placeholder {
  width: 100%;
  padding-bottom: var(--height-ratio);
  background: repeating-linear-gradient(
      45deg,
      var(--color-white),
      var(--color-white) 30px,
      var(--color-red) 30px,
      var(--color-red) 60px
  );
}

.ck-media__preview {
  width: 100%;
  height: 100%;
}

.ck-media__loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


ck-media-loader {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
  pointer-events: none;
}

.ck-media__spinner {
  width: 100px;
  text-align: center;
}

.ck-media__spinner > .ck-media__bounce {
  width: 16px;
  height: 16px;
  background-color: var(--color-spinner);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: ck-bounce 1.4s infinite ease-in-out both;
  animation: ck-bounce 1.4s infinite ease-in-out both;
}

.ck-media__spinner .ck-media__bounce--1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.ck-media__spinner .ck-media__bounce--2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes ck-bounce {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes ck-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.ck-media {
  position: relative;
}

.ck-media__buttons {
  position: absolute;
  display: flex;
}

.ck-media__buttons button {
  display: block;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.ck-media__buttons button:not(:last-child) {
  margin-right: 5px;
}

.ck-media__buttons svg {
  margin-top: -1px;
  display: block;
}

.top-left {
  top: var(--button-padding);
  left: 5px;
}

.top {
  top: var(--button-padding);
  width: 100%;
  justify-content: center;
}

.top-right {
  top: var(--button-padding);
  right: var(--button-padding);
}

.right {
  top: 0;
  right: var(--button-padding);
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.bottom-right {
  bottom: var(--button-padding);
  right: var(--button-padding);
}

.bottom {
  bottom: var(--button-padding);
  width: 100%;
  justify-content: center;
}

.bottom-left {
  bottom: var(--button-padding);
  left: var(--button-padding);
}

.left {
  top: 0;
  left: var(--button-padding);
  height: 100%;
  flex-direction: column;
  justify-content: center;
}


.ck-media__buttons button {
  background: rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
  border: none;
}

.ck-media__buttons button:hover{
  background: rgba(255, 255, 255, 0.8);
  transform: scale(1.2);
  border: none;
}
