:host {
  --color-blue: #004adc;
  --color-black: #222330;
  --color-red: #d32323;
  --color-black-80: rgba(0, 0, 0, 0.8);
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-grey-light: #CCC;
  --color-white: #FFF;
  --align-buttons: left;
  font-family: var(--font-family, sans-serif);
  font-style: initial;
  font-weight: initial;
  --gallery-position-top: auto;
  --gallery-position-left: 50%;
  --gallery-position-right: auto;
  --gallery-position-bottom: 40px;
  --gallery-transform: translate(-50%, 0);
  --gallery-padding-top: 0;
}

.ck-gallery {
  position: relative;
  width: 100%;
  display: inline-block;
  margin: auto;
  overflow: hidden;
  padding-top: var(--gallery-padding-top);
}

.ck-gallery.below {
  padding-bottom: 6em;
}

.ck-gallery.above {
  padding-top: 6em;
}

.ck-gallery.error .ck-gallery__controls {
  border: 1px solid var(--color-red);
}

.disabled {
  opacity: 0.3;
}

.ck-gallery__rail {
  display: flex;
  transition: transform 0.7s ease;
}

::slotted(*), ck-placeholder {
  display: block;
  width: 100%;
  flex-shrink: 0;
  --align-buttons: center;
  min-height: 300px;
}


.ck-gallery__controls {
  position: absolute;
  top: var(--gallery-position-top);
  bottom: var(--gallery-position-bottom);
  left: var(--gallery-position-left);
  right: var(--gallery-position-right);
  transform: var(--gallery-transform);
  background-color: var(--color-white);
  display: flex;
  min-width: 40px;
  max-height: 60px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 20px;
  border-radius: 10px;
}

.ck-gallery__controls.below {
  bottom: 1.5em;
  top: auto;
}

.ck-gallery__controls.above {
  top: 0;
}

.ck-gallery__controls.top {
  top: 0;
}

.ck-gallery__actions {
  min-width: 130px;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid var(--color-grey-light);
  font-size: 14px;
}

.ck-gallery__pager {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.ck-gallery__dots {
  margin-right: 10px;
  display: flex;
}

.ck-gallery__dot-item {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  margin-right: 5px;
  background-color: var(--color-black-30);
  text-align: center;
  line-height: 20px;
  color: var(--color-white);
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.35s ease;
}
.ck-gallery__dot-item.error {
  background-color: var(--color-red) !important;
}

.ck-gallery__add {
  display: inline-block;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: var(--color-white);
  text-align: center;
  color: var(--color-blue);
  line-height: 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.35s ease;
  border: 1px solid var(--color-blue);
}

.ck-gallery__add.active {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.ck-gallery__dot-item.active {
  background-color: var(--color-black-80);
}


.ck-gallery__add-slide:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.ck-gallery__icons {
  max-width: 110px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.ck-gallery__icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: background-color 0.35s ease;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ck-gallery__icon:hover {
  background-color: #f0f0f0;
}

.ck-gallery__icon > * {
  width: 14px;
  height: 14px;
}

[data-tooltip] {
  position: relative;
  cursor: pointer;
  text-align: center;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

.disabled[data-tooltip]:before,
.disabled[data-tooltip]:after {
  display: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after {
  visibility: visible;
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  display: inline-block;
  width: 160px;
  background-color: var(--color-black-60);
  color: var(--color-white);
  content: attr(data-tooltip);
  font-size: 13px;
  line-height: 1;
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after {
  transform: translateY(-12px);
}


[data-tooltip]:before,
[data-tooltip]:after {
  top: 80%;
  bottom: auto;
  left: 50%;
}

[data-tooltip]:before {
  margin-top: -12px;
  margin-left: -6px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: var(--color-black-60);
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after {
  transform: translateY(12px);
}

