<ck-section class="so-rich-text" itemtype="RichText" data-rich-text-type="simple">
  <h3 ck-input="plain" itemprop="title" class="so-rich-text__title">{{ 'Enter a title (optional) ...'|t }}</h3>
  <ck-textfield ck-min="1" class="so-rich-text__content-constraint">
    <div ck-input="full" itemprop="content" class="so-rich-text__content">{{ 'Enter some content ...'|t }}</div>
  </ck-textfield>
  <div ck-input="full" itemprop="footer" class="so-rich-text__footer">{{ 'Enter some footer notes (optional) ...'|t }}</div>
</ck-section>
