.image {
  position: relative;
}

.image .field--type-image img {
  margin: 0;
  display: block;
}

.image .field--type-image {
  float: none !important;
  margin: 0 !important;
}

.image__caption {
  position: absolute;
  bottom: 1em;
  left: 1em;
  max-width: 70%;
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.8);
}
