:host {
  --color-red: #ff0000;
  --color-grey-light: #ccc;
  display: block;
}
.text-conflict {
  position: relative;
}
span {
  cursor: pointer;
}
span.resolve {
  text-decoration: underline;
  text-decoration-color: var(--color-red);
}
.text-conflict__options {
  visibility: hidden;
  display: none;
  z-index: 5;
  opacity: 0;
  max-width: 100%;
  background: white;
  box-shadow: 0px 0px 5px var(--color-grey-light);
  border-radius: 3px;
  position: relative;
  top: 0;
}
.visible {
  opacity: 1;
  display: inline-block;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s,opacity .35s 0s,transform .35s;
}
.invisible {
  display: none;
}
